Source: jsonly
Section: utils
Priority: optional
Maintainer: Luke Moyer <DudenessBoy_software@disroot.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://dudenessboy.github.io/JSONly
#Vcs-Browser: https://github.com/DudenessBoy/JSONly
#Vcs-Git: https://github.com/DudenessBoy/JSONly.git

Package: jsonly
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
 python3-tk,
 python3-plyer,
 python3-packaging,
 xsel
Description: A GUI JSON editor
 JSONly is a GUI program for interacting with and manipulating JSON files
