#!/usr/bin/make -f

# Uncomment this to turn on verbose output during the build
# export DH_VERBOSE=1

%:
	dh $@

# Build the Python app
build:
	dh build

# Install the Python app using python3 setup.py install
install: build
	dh install
